@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    .card-container {
      @apply h-[450px] w-[320px] rounded-lg;
    }
    .card-face {
      @apply h-[450px] w-[320px] grid place-content-center text-center px-3 rounded-lg shadow-md cursor-pointer hover:ring-2 transition-all;
    }
    .card-front {
      @apply bg-gradient-to-r from-fuchsia-600 to-purple-600 text-white;
    }
  
    .card-back {
      @apply bg-gray-200 text-black;
    }

    :root {
      --color-primary: 265 83 57;
      --color-secondary: 43 74 66;
      --color-backgroundColor: 208 96 17;
      --color-accentColor: 27 87 67: 
      --color-textColor: 255 255 255;
      --color-inputBackground: 208 72 22;
      --color-onBackground: 208 75 21;

    }


    .dark {
      --color-backgroundColor: 43 45 56;
      --color-inputBackground: 55 56 75;

      --color-textColor: 255 255 255;
      --color-primary: 58 134 255;
      --color-onBackground: 55 56 75;
      --color-secondary: 43 74 66;
      --color-accentColor: 27 87 67: 

    }
/* 
    .ocean-breeze {
      --color-primary: 42 157 143;
      --color-secondary: 233 196 106;
      --color-accentColor: 234 150 31;
      --color-backgroundColor: 240 243 245;
      --color-textColor: 38 70 83;
      --color-onBackground: 235 235 235;
    }

    .calm-thoughts {
      --color-primary: 128 45 244;
      --color-secondary: 131 56 236;
      --color-accentColor: 155 92 244;
      --color-backgroundColor: 240 243 245;
      --color-textColor: 60 47 47;
      --color-onBackground: 239 239 239;
    }

    .calm-thoughts-inverse {
      --color-primary: 128 45 244;
      --color-secondary: 131 56 236;
      --color-accentColor: 155 92 244;
      --color-textColor: 240 243 245;
      --color-backgroundColor: 60 47 47;
      --color-onBackground: 71 62 62;
    }
    .soft-pastels {
      --color-primary: 255 111 97;
      --color-secondary: 107 66 38;
      --color-accentColor: 217 202 179;
      --color-backgroundColor: 246 241 238;
      --color-textColor: 60 47 47;
    }

    .twilight-glow {
      --color-primary: 10 17 40;
      --color-secondary: 0 31 84;
      --color-accentColor: 242 92 84;
      --color-backgroundColor: 33 43 54;
      --color-textColor: 217 226 236;
    } */
  }

  /* @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  embed {
    background: transparent;
  }

  canvas * {
    background: transaprent !important;
    background-color: transparent !important;
  } */